<HTML>
	<HEAD>
		<TITLE>Sprint 2</TITLE>
		<script type="text/javascript" src="js/page.js"></script>

	</HEAD>
	<BODY>
		<DIV id = 'body'>
		<H1><DIV id = 'header1' ><%= data[0].title %> <DIV></H1>
		<H3><DIV id = 'header2' ><%= data[0].desc %>  <DIV></H3>
		
		<% for (var i = 0; i < data[0].questions.length; i++ ){ %>
		<%	if (typeof data[0].questions != 'undefined' ){ %>
				<H4><%= data[0].questions[i].question%></H4>
		<%		if(data[0].questions[i].answers[0].type == 'radio'){ %>
					<form>
		<%			for(var radio = 0; radio < data[0].questions[i].answers.length; radio++){ %>
						<input name = 'radio' id = '<%= data[0].questions[i].answers[radio].id %>' type = 'radio' >
						 <%= data[0].questions[i].answers[radio].text %>
						 <% if (typeof data[0].questions[i].answers[radio].options != 'undefined' && data[0].questions[i].answers[radio].options[0].type == "text"){ %>
							<input id = '<%= data[0].questions[i].answers[radio].options[0].id %>' type = 'text'  >
						<% } %>
					<%}%>
					</form>
				<%}%>
		<%	}  %>
		<%} %>
		</DIV>
		<DIV id = 'footer'></DIV>
		<button id="submit">submit</button>
		<button id="display">display</button>
	</BODY>
</HTML>
